<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
    	<Emzee_Dev>
    		<version>0.0.1</version>
    	</Emzee_Dev>
    </modules>
    
    <frontend>
        <translate>
            <modules>
                <Emzee_Dev>
                    <files>
                        <default>Emzee_Dev/Emzee_Dev.csv</default>
                    </files>
                </Emzee_Dev>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <emzee_dev>
                <class>Emzee_Dev_Block</class>
            </emzee_dev>
        </blocks>
        <helpers>
            <emzee_dev>
                <class>Emzee_Dev_Helper</class>
            </emzee_dev>
        </helpers>
        <models>
            <emzee_dev>
                <class>Emzee_Dev_Model</class>
            </emzee_dev>
        </models>
    </global>
</config>
